 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I am a software developer that loves living at the intersection of human and computer. I enjoy tackling the challenges related to new frameworks, languages and making what users want to do with an application a reality.</p>
                </div>
                <div class="col-lg-4">
                    <p>My background and experiences in all my jobs still seem to center around the software that is involved with it. Whether working in management, or sales, I always found myself coming back to programming and software as the thing I focused around my work. If I am not sitting at my computer trying to learn something new about the library or framework I am using, you can find me on a mountain (skiing or hiking) or checking out a new game.</p>
                </div>
                <!-- <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Resume
                    </a>
                </div> -->
            </div>
        </div>
    </section>
